h4 {
    font-family: 'Hedvig Letters Serif', serif;
}
   
p {
    font-family: 'Hedvig Letters Serif', serif;
}

.azul-norm{
    background-color: #19A7CE;
}

.azul-clarito{
    background-color: #AFD3E2;
}

.borde-clarito {
    border-left: 15px solid #AFD3E2; /* Cambia el grosor, estilo y color del borde */            
}

.borde-norm {
    border-left: 15px solid #19A7CE; /* Cambia el grosor, estilo y color del borde */
}

/* Default for large screens */
.responsive-icon {
    width: 20%;
  }

  /* For screens smaller than 576px */
  @media (max-width: 576px) {
    .responsive-icon {
      width: 20%; /* Smaller size for mobile */
    }
  }