.bg-custom,
.bg-custom th,
.bg-custom td {
    background-color: #DEE3FF  !important;
}

.btn-primary{
    background-color: #6046FF;
    border: 1px solid #5308F3;
    color:#FFFFFF;
  }

  .btn-primary:hover{
    background-color: #5308F3;
    border: 1px solid #5308F3;
    color:#FFFFFF;
  } 