{% extends 'base.html' %}

{% block styling %}
  {{ super() }}
{% endblock %}

{% block nombre_menu %}Gestión de automóviles{% endblock %}

{% block content %}

<!-- Agregar dentro de este bloque el codigo del menu automovil-->
<div class="container parent">
    <div class="row">
      <div class="col-lg-8 col-sm-12 col-10 child">      
      <h2 class="text-center">Automoviles
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCreateAutomovil">      
          Agregar
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
          </svg>
        </button>
      </h2>    
      <div class="table-responsive">
        <table class="table table-hover" id="tabla_automoviles">
          <thead class="thead-dark">
            <tr>            
              <th scope="col">#</th>
              <th scope="col">Modelo</th>
              <th scope="col">Placas</th>
              <th scope="col">Propietario</th>
              <th scope="col">Motivo de ingreso</th>
              <th scope="col">Fecha de ingreso</th>
              <th scope="col">Fecha de egreso</th>
              <th scope="col">Notas</th>
              <th scope="col">Costo mano de obra</th>
              <th scope="col">Piezas usadas</th>
              <th scope="col">Costo total</th>              
            </tr>
          </thead>
          <tbody>
            {% for automovil in data[0] %}
              <tr>
                <td>{{ automovil.id_automovil }}</td>
                <td>{{ automovil.modelo }}</td>
                <td>{{ automovil.placas }}</td>
                <td>{{ automovil.nombre_propietario }}</td>
                <td>{{ automovil.motivo_ingreso }}</td>
                <td>{{ automovil.fecha_ingreso }}</td>
                <td>{{ automovil.fecha_egreso }}</td>
                <td>{{ automovil.notas }}</td>
                <td>{{ automovil.costo_mano_obra }}</td>
                <td>{{ automovil.piezas_usadas }}</td>
                <td>{{ automovil.costo_total }}</td>
                <td>       
                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal_update{{automovil.id_automovil}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </button>         
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_delete{{automovil.id_automovil}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg>
                  </button>                
                </td>            
              </tr>
              <!-- Modal of update automovil-->
              <div class="modal fade" id="modal_update{{automovil.id_automovil}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar la información del automovil</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Modifica los campos necesarios
                      <form action="{{url_for('actualizar_automovil', id_automovil=automovil.id_automovil)}}", method="POST">
                        <div class="mb-1">
                          <label for="recipient-name" class="col-form-label">Modelo</label>
                          <input name="nombre_completo" type="text" class="form-control" id="recipient-name" value="{{ automovil.modelo }}">
                        </div>
                        <div class="modal-footer">        
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>  
                      </form>
                    </div>      
                  </div>
                </div>
              </div>
              <!-- Modal of delete automovil-->
              <div class="modal fade" id="modal_delete{{automovil.id_automovil}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <form action="{{url_for('eliminar_automovil', id_automovil=automovil.id_automovil)}}" method="POST">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar eliminación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar este automovil?
                        <label for="recipient-name" class="col-form-label">Modelo:</label>
                        <input name="salario" type="text" class="form-control" id="recipient-name" value="{{ automovil.id_automovil }}" disabled>                    
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a type="button" class="btn btn-danger" id="confirmDeleteButton">Confirmar</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- this is the navbar for the employees -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link">Anterior</a>
            </li>          
            {% for i in range(data[1]) %}
              <li class="page-item"><a class="page-link" href="{{url_for('menu_automoviles', page=i+1)}}">{{i+1}}</a></li>          
            {% endfor %}
            <li class="page-item">
              <a class="page-link" href="#">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div> 
    </div>
  </div>
  
<!-- Modal of create automovil-->
<div class="modal fade" id="ModalCreateAutomovil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar nuevo automovil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Introduce la siguiente información para dar de alta al nuevo automovil
        <form action="{{ url_for('crear_automovil') }}", method="POST">
          <div class="mb-1">
            <label for="recipient-name" class="col-form-label">Nombre completo</label>
            <input name="nombre_completo" type="text" class="form-control" id="recipient-name">
          </div>    
          <div class="modal-footer">        
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </div>  
        </form>
      </div>      
    </div>
  </div>
</div>
{% endblock %}
